## HEADER from file:///C:/Program%20Files/Git/mingw64/share/doc/git-doc/user-manual.html#manipulating-branches
## Lines starting with '#' are considered comments.
## Ignore any file named foo.txt.
#foo.txt
## Ignore (generated) html files,
#*.html
## except foo.html which is maintained by hand.
#!foo.html
## Ignore objects and archives.
#*.[oa]
/older notebooks
/CM-fall2022
/Model-free_Model-based_Workshop
/neuro-nav
/.ipynb_checkpoints